{% if user.is_authenticated %}
Você já está logado

<a href="/thiago/logout">Sair</a>

<br>
Id do seu user: {{ user.id }}

{% else %}

<form method="post" action="/thiago/login2">
    {% csrf_token %}

Login:
<input type="text" class="btn btn-primary" name="username" />

Password:
<input type="password" class="btn btn-primary" name="password" />

<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endif %}