{% extends 'base_bootstrap.html' %}

{% block content %}
    <br><br><a class="btn btn-success" href="/cats/lookup/create"> Create new breed </a> <br><br>
    {% if breeds %}
        <ul>
            {% for breed in breeds %}
            <li>
                {{ breed.name }}
               (<a href="/cats/lookup/{{ breed.id }}/update">Update</a> |
                <a href="/cats/lookup/{{ breed.id }}/delete">Delete</a>)
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No breeds are available.</p>
    {% endif %}


{% endblock %}
