{% extends 'base_bootstrap.html' %}

{% block content %}

    <br><br>
        <a class="btn btn-success" href="/autos/lookup/{{ make.id }}/update"> Edit </a> 
        <a class="btn btn-danger" href="/autos/lookup/{{ make.id }}/delete"> Delete </a> 
    <br><br>

    ID: {{ make.id }}
    <br>
    name: {{ make.name }}

    
{% endblock %}