{% extends 'base_bootstrap.html' %}

{% block content %}
    <br><br><a class="btn btn-success" href="/autos/lookup/create"> Create new Make </a> <br><br>
    {% if makes %}
        <ul>
            {% for make in makes %}
            <li>
                {{ make.name }}
               (<a href="/autos/lookup/{{ make.id }}/update">Update</a> |
                <a href="/autos/lookup/{{ make.id }}/delete">Delete</a>)
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No makes are available.</p>
    {% endif %}


{% endblock %}