<head>
    <meta name="dj4e" content="3937230de3c8041e4da6ac3246a888e8"> 
</head>

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{question.id}}/vote/" method="POST">
{% csrf_token %}

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" value="{{choice.id}}"></input>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}

<input type="submit" value="Vote">


