<head>
    <meta name="dj4e" content="3937230de3c8041e4da6ac3246a888e8"> 
</head>

{% if questions %}

    <ul>
    {% for question in questions %}
        <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}
