<head>
    <meta name="dj4e" content="3937230de3c8041e4da6ac3246a888e8"> 
</head>

<h1>{{ question.question_text }}</h1>

{% for choice in question.choice_set.all %}
    {{ choice.choice_text }} {{ choice.votes }}
{% endfor %}

<a href="/polls/{{ question.id }}">Vote again?</a>


