{% extends 'base_bootstrap.html' %}

{% block content %}

    <br><br>
        <a class="btn btn-success" href="/autos/main/{{ auto.id }}/update"> Edit </a> 
        <a class="btn btn-danger" href="/autos/main/{{ auto.id }}/delete"> Delete </a> 
    <br><br>

    ID: {{ auto.id }}
    <br>
    Nickname: {{ auto.nickname }}

    
{% endblock %}