{% extends 'base_bootstrap.html' %}

{% block content %}

{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
{% endif %}

    {% if autos %}
        <ul>
            {% for auto in autos %}
                <li>
                    {{ auto.nickname }} ({{ auto.make }})
                    (<a href="/autos/main/{{auto.id}}/update">Update</a> |
                    <a href="/autos/main/{{auto.id}}/delete">Delete</a>) <br/>
                    {{ auto.comments }} ({{ auto.mileage }} miles)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No autod are available.</p>
    {% endif %}

    <a href="/autos/main/create/">Add an auto</a>

    <p>
        <a href="/autos/lookup/">View makes</a> | 
          <a href="/autos/lookup/create/">Add a make</a>
        </p>


{% endblock %}