{% extends 'base_bootstrap.html' %}

{% block content %}

    <br><br>
        <a class="btn btn-success" href="/cats/main/{{ cat.id }}/update"> Edit </a> 
        <a class="btn btn-danger" href="/cats/main/{{ cat.id }}/delete"> Delete </a> 
    <br><br>

    ID: {{ cat.id }}
    <br>
    Nickname: {{ cat.nickname }}

    
{% endblock %}
