{% extends 'base_bootstrap.html' %}

{% block content %}

{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
{% endif %}

    {% if cats %}
        <ul>
            {% for cat in cats %}
                <li>
                    {{ cat.nickname }} ({{ cat.breed }})
                    (<a href="/cats/main/{{cat.id}}/update">Update</a> |
                    <a href="/cats/main/{{cat.id}}/delete">Delete</a>) <br/>
                    {{ cat.comments }} ({{ cat.mileage }} miles)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No catd are available.</p>
    {% endif %}

    <a href="/cats/main/create/">Add a cat</a>

    <p>
        <a href="/cats/lookup/">View breeds</a> | 
          <a href="/cats/lookup/create/">Add a breed</a>
        </p>


{% endblock %}
