
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

/* validator https://jigsaw.w3.org/css-validator */
/* inspect css: https://chrispederick.com/work/web-developer/ */
/* tasks: https://www.dj4e.com/assn/css/index.php */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 1. The four boxes have five pixel borders
   2. Different colors in each 
   3. Five pixels of margin and padding 
   4. Make the boxes width be 25% so the width changes as you resize your browser
*/
#one {
    border: 5px solid #ffa502;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;
    
}

#two {
    border: 5px solid #007f00;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;
    right: 0%;
}

#three {
    border: 5px solid #ffff02;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;
    bottom: 0%;
}

#four {
    border: 5px solid #0000ff;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#link {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#link a:link {
    color: white;
    text-decoration: none;
    background-color: #0000ff;
}

#link a:hover {
    color: white;
    text-decoration: none;
    background-color: #0000ff;

}

#link a:visited {
    color: white;
    text-decoration: none;
    background-color: #0000ff;
}

#link a:active {
    color: white;
    text-decoration: none;
    background-color: #0000ff;
}



/* Center the link at the top of the page. Use your developer console / inspect element feature of 
your browser to visit https://www.brainyquote.com/ and figure out the background color, font, and 
text color they are using an replicate that exactly for the link in your index.htm. */

